<h1>Welcome to Puppy Portal!</h1>

<p>This is the homepage. From here a user should be able to choose to log in or to sign up</p>


<button type="button" class="btn btn-primary btn-lg"><%= link_to "Sign Up", '/signup' %></button>
or
<button type="button" class="btn btn-primary btn-lg"><%= link_to "Log In", '/login' %></button>