<h1>Hello, <%= @user.username %></h1>

this is a user's personal page where they can add/edit/delete a puppy

<% if current_user.puppies.length == 0 %>
<h3>You don't have any puppies :(</h3>
<p>Click <%= link_to "here", new_puppy_path %> to add a puppy! </p>
<% else %>
<% current_user.puppies.each do |puppy| %>
<ul><%= link_to puppy.name, puppy_path(puppy)  %> </ul>
<% end %>
<% end %>

<p>shows puppy or puppies and will have links to the puppy profile</p>

<p><%= link_to "<< Back to My Page", user_path(current_user) %>